{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %} 
        <link rel="stylesheet" href="{% static 'user/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        {% block head %}

        {% endblock %}

        <title>
            {% block title %}
     
             {% endblock %}
        </title>
        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>

    <body style="background-color: #249b6b;">   <!--Inliine CSS : BG COLOR Added-->

        <div class="topnav" id="myTopnav">
            <a class="navbar-brand" href="{% url 'home' %}">Emergency Information Directory</a>
            <div class="topnav-right" style="float: right;padding-right: 5%">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'contact' %}">Contact Us</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user-profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'user-registration' %}">Register</a>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}

            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>

            </div>
        </div>

        <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
        </script>

        <div style="padding-left:30%;padding-right:25%;padding-top: 5%">
            {% block content %}
    
            {% endblock %}
        </div>
    </body>
</html>
