{% extends 'user/base.html' %}          <!-- updated home search form -->

{% load crispy_forms_tags %}

{% block title %}
    Emergency Information Dictionary
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}         <!-- updated home with search search form -->

    <div style="padding-left:25%; padding-right: 25%; padding-top: 10%; background-color: #B4D3b2; padding-bottom: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"class="rounded">
        <h5>Emergency Information Dictionary</h5>
        <hr>
        <br>
        <form method="POST" id=search-form subdistrict-url="{% url 'ajax_load_subdistrict' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ search_forms | crispy}}
                {{ location_forms | crispy}}
            </fieldset>
            <button class="submit form-group btn btn-outline-info">
                Search
            </button>
        </form>

        <!-- AJAX for filtering Subdistricts-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $("#id_district").change(function () {
                var url = $("#search-form").attr("subdistrict-url");  // get the url of the `load_cities` view
                var districtId = $(this).val();  // get the selected country ID from the HTML input

                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                    data: {
                        'district': districtId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_subdistrict").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                });

            });
        </script>


    </div>

{% endblock %}