{% extends 'user/base.html' %}          <!-- updated home search form -->

{% load crispy_forms_tags %}

{% block title %}
    Emergency Information Dictionary
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}         <!-- updated home with search search form -->

    <div style="padding-left:25%; padding-right: 25%; padding-top: 10%; background-color: lightblue; padding-bottom: 5%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"class="rounded">
        <h5>Emergency Information Dictionary</h5>
        <hr>
        <br>
        <form method="POST" id=search-form>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ search_forms | crispy}}
            </fieldset>
            <button class="submit form-group btn btn-outline-info">
                Search
            </button>
        </form>
    </div>

{% endblock %}