{% extends 'user/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Password Change
{% endblock %}


{% block content %}

    <style>
        .login-form{
            border: 1px gray;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>


    <div class="container login-form rounded" style="padding-right: 25%;padding-left: 25%; padding-top: 3%;padding-bottom:2%; background-color: lightblue;">
        <form method="POST">
            <legend>Please Log In to Continue</legend>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="submit form-group btn btn-outline-info">
                Change Password
            </button>
        </form>
{#        <div style="padding-bottom: 15%" class="border-top pt-2">#}
{#            Don't have an account? <a href="{% url 'user-registration' %}">Sign up</a> here.#}
{##}
{#         </div>#}

    </div>


{% endblock %}