{% extends 'user/base.html'%}

{% block title %}
    Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% load static %}

    <img style="height: 200px; width: 200px;" class="img-thumbnail img-responsive float-right"
         src="{{ user.profile.profile_picture.url }}"
         alt="{{ user.profile.profile_picture.url }}"><br>
    <br>

    <div style="float: left">
        <b>Username</b> - {{ user.username }}<br>
        <b>First Name</b> - {{ user.first_name }}<br>
        <b>Last Name</b> - {{ user.last_name }}<br>
    </div>



{% endblock %}