{% extends 'user/base.html'%}

{% block title %}
    Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% load static %}

    <form method="POST" action={% url 'user-profile' %}><div style="margin:0;padding:0">
        {% csrf_token %}
        <div>
            <label for="fname">First name: </label>
            <input type="text" id="fname" name="fname"/>
            {{ error_fname }}<br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"/>
        </div>

        <label for="radio" style="padding-top: 20px">Select Gender:</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="gender" value="other">
        <label for="other">Other</label><br>


        <label for="division" style="padding-top: 20px">Select Division:</label><br>
        <select id="division" name="division">
            <option value="dhaka">Dhaka</option>
            <option value="chittagong">Chittagong</option>
            <option value="sylhet">Sylhet</option>
            <option value="barishal">Barishal</option>
            <option value="khulna">Khulna</option>
            <option value="rajshashi">Rajshahi</option>
            <option value="rangpur">Rangpur</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">


    </form>

{% endblock %}