{% extends 'user/base.html'%}

{% block title %}
    Profile Update
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% load static %}


    <div class=" rounded container register-form" style="padding-right: 20%;padding-left:20%;  padding-top: 5%;padding-bottom:10%; margin-top: 5%; margin-bottom: 15%; background-color:#B4D3b2">
        <b>Hello,</b>
        <img style="height: 80px; width: 80px;" class="rounded-circle"
             src="{{ user.profile.profile_picture.url }}"
             alt="{{ user.profile.profile_picture.url }}">

        {{ user.username }}

        <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
            <br><legend align="center">Update Your Profile</legend>
                    <fieldset class="form-group">
                        {{ user_update_form | crispy }}
                        {{ profile_update_form | crispy }}
                    </fieldset>
                <button class="submit form-group btn btn-outline-info">
                Update
            </button>
        </form>
    </div>


{% endblock %}