{% extends 'user/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    User Registration
{% endblock %}


{% block content %}

    <style>
        .register-form{
            border: 1px gray;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

    <div class=" rounded container register-form" style="padding-right: 20%;padding-left:20%;  padding-top: 5%;margin-top: 5%; margin-bottom: 15%; background-color:#B4D3b2"> <!-- margin added -->
        <form method="POST">
            <legend><h4>Sign Up Now!</h4>
                <h6>Become a Member and Help the Commmunity!</h6></legend>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="submit form-group btn btn-outline-info">
                Sign Up!
            </button>
        </form>
        <div style="padding-bottom: 30%" class="border-top pt-2">
            Already have an account? <a href="{% url 'login' %}">Sign In</a> here.

         </div>
    </div>


{% endblock %}