# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Semester 3-1\CSE 310 - OOP- II -  Python Lab\Project\Demo\Emergency_InfoDirectory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
